* {margin: 0;
padding: 0;
box-sizing: border-box;}

/*Header*/

header {height: 4rem;
display: flex;
align-items: center;
padding: 0 1.5rem;
border-bottom: 1px solid #A2A2A2;}

nav.desktop {width: 100%;
display: flex;
justify-content: flex-end;
font-family: "Verdana";}

nav.mobile {display: none;}

.desktop span {margin-left: 1rem;}

.logo {display: flex;
align-items: center;}

.logo img {height: 4rem;}

.logo p {font-size: 2rem;
font-family: "Helvetica";}

/*Banner*/

.banner {background-color: #D2D2D2;
display: flex;
width: 100%;}

h1 {font-family: "Verdana";
font-size: 2.5rem;
color: #4a4a4a;}

.banner h3 {font-family: "Verdana";
padding: 2rem 2rem 2rem 0rem;
color: #4a4a4a;
width: 70%;}

.banner img {width: 60%;
padding: 2rem 1.5rem;}

button {font-family: "Verdana";
background-color: #4a4a4a;
font-size: 1rem;
color: #F1F1F1;
border: none;
width: 85%;
padding: 0.5rem 0;}

.caption {display: flex;
flex-direction: column;
justify-content: center;
padding-right: 2rem;}

/* First section - Info*/

.features {background-color: #F1F1F1;
width: 100%;
display: flex;
}

.sidea {width: 60%;
padding: 2rem 1.5rem;}

.sidea img {width: 100%;}

.sidea h2 {font-family: "Verdana";
color: #4a4a4a;
font-size: 2rem;
margin-top: 2rem;}

.sidea p {font-family: "Verdana";
color: #4a4a4a;
margin: 1.5rem 0;
width: 80%;
font-size: 0.9rem;
line-height: 1.5}

.sidea span {font-family: "Verdana";
color: #4a4a4a;
font-size: 12px;
width:80%;
}

.sideb {
width: 40%;
display: flex;
flex-direction: column;}

#mobile {display: none;}

.sideb img {width: 35%;
height: auto;
padding: 1rem;}

.box {display: flex;
border-bottom: 1px solid #A2A2A2;}

.container {margin-top: 1rem;}

#last {border-bottom: none;}

.caption {display: flex;
flex-direction: column;
width: 65%;}

.caption h3 {font-family: "Verdana";
color: #4a4a4a;}

.caption p {font-family: "Verdana";
color: #4a4a4a;
padding: 0.5rem 0;
font-size: 0.9rem;
line-height: 1.5;}

a {font-family: "Verdana";
color: lightslategray;
font-size: 0.9rem;
text-decoration: none;}

/*Second section - Courses*/

.learning {background-color: #D2D2D2;}

.gallery {display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
padding: 1rem 3.5rem 1rem 3.5rem;}

.areas {width: 28%;
background-color: white;
margin: 1rem;}

.areas img {height: auto;
width: 100%;}

.areas p {font-family: "Verdana";
color: grey;
line-height: 1.5;
padding: 0.5rem 0 0.5rem 1rem;}

.learning h2 {font-family: "Verdana";
font-size: 2rem;
color: #4a4a4a;
text-align: center;
padding-top: 2rem;}

.areas h3 {font-family: "Verdana";
color: #4a4a4a;
padding: 1rem 0 1rem 1rem;}

.areas span {display: block;font-family: "Verdana";
color: grey;
line-height: 1.5;
padding-left: 1rem;
padding-bottom: 1.5rem;
max-width: 80%;}

/*Last Section - Thesis*/

.thesis {background-color: #F1F1F1;
width: 100%;
display: flex;}

.title h2 {font-family: "Verdana";
font-size: 2rem;
color: #4a4a4a;
text-align: center;
padding-top: 2rem;
background-color: #F1F1F1}

.sidec {width: 60%;
padding: 2rem 1.5rem;}

.sidec h3 {font-family: "Verdana";
color: #4a4a4a;
margin-top: 1.5rem;}

.sidec p {font-family: "Verdana";
color: #4a4a4a;
margin-top: 0.5rem;
width: 80%;
font-size: 0.9rem;
line-height: 1.5}

.sided {
width: 40%;
display: flex;
flex-direction: column;}
    
.sided img {width: 35%;
height: auto;
padding: 1rem;}

/*Footer*/

footer {background-color: #F1F1F1;
height: 4rem;
border-top: 1px solid #A2A2A2;
padding: 0;
width: 100%;
display: flex;
align-items: center;}

.rights {width: 100%;
padding-left: 1.5rem;
font-family: "Verdana";
font-size: 0.8rem;}

.terms {width: 100%;
display: flex;
justify-content: flex-end;
padding-right: 1.5rem;
font-family: "Verdana";
font-size: 0.8rem;}

.terms span {padding-left: 1rem;}

/* Media query for mobile phones */

@media screen and (max-width: 630px) {

/*Header*/

nav.desktop {display:none;}

nav.mobile {display: flex;
justify-content: space-around;
width: 100%;}

.logo {display: none;}

/*Banner*/

.banner {flex-direction: column;
align-items: center;}

.banner img {width: 100%;
padding: 0;}

h1 {text-align: center;
padding: 0;
margin: 2rem auto;
width: 100%;} 

.banner h3 {text-align: center;
padding: 0;
margin: 0 auto 1.5rem;
width: 100%;}

button {margin: 0 auto 2rem;}

/*First section - Info*/

.caption {padding: 0;
width: 90%;}

.container {margin-top: 0;}

.sidea {display: none;}

.sideb {width: 100%;}

.box {display: flex;
flex-direction: column;}

#desktop {display: none;}

#mobile {display: flex;
width: 100%;
padding-top: 0;
margin-top: 1rem;}

.caption a {padding-bottom: 1rem;
margin-left: 1rem;}

.caption h3 {margin-left: 1rem;}

.caption p {display: flex;
margin-left: 1rem;}

#last a {margin-bottom: 1rem;}

/*Second section - Courses*/

.gallery {display: flex;
flex-direction: column;
padding: 2rem 3.5rem 1rem 3.5rem;}

.areas {width: 100%;
background-color: white;
margin: 0 0 0.5rem 0;}

.areas img {display: none;}
    
.areas p {display: none;}
    
.areas h3 {font-family: "Verdana";
color: #4a4a4a;
text-align: center;
padding: 0;
margin: 1.5rem 0 1.5rem 0;}
    
.areas span {display: none;}

/*Last section - Thesis*/

.sided {display: none;}

.sidec {width: 100%;
padding: 2rem 0 1.5rem 0;}

.sidec h3, p {display: none;}

/*Footer*/

.terms {display:none;}
}
