* {margin: 0;
padding: 0;}

/*Header*/

header {height: 4rem;
display: flex;
align-items: center;
padding: 0 1.5rem;
border-bottom: 1px solid #A2A2A2;}

.desktop {width: 100%;
display: flex;
justify-content: flex-end;
font-family: "Verdana";}

.desktop span {margin-left: 1rem;}

header img {height: 4rem;}

header p {font-size: 2rem;
font-family: "Helvetica";}

/*Banner*/

.banner {background-color: #D2D2D2;
display: flex;
width: 100%;}

h1 {font-family: "Verdana";
font-size: 2.5rem;
color: #4a4a4a;}

.banner h3 {font-family: "Verdana";
padding: 2rem 2rem 2rem 0rem;
color: #4a4a4a;
width: 70%;}

.banner img {width: 60%;
padding: 2rem 1.5rem;}

.caption {display: flex;
flex-direction: column;
justify-content: center;
padding-right: 2rem;}

/* First section - Info*/

.features {background-color: #F1F1F1;
width: 100%;
display: flex;
}

.sidea {width: 60%;
padding: 2rem 1.5rem;}

.sidea img {width: 100%;}

.sidea h2 {font-family: "Verdana";
color: #4a4a4a;
font-size: 2rem;
margin-top: 2rem;}

.sidea p {font-family: "Verdana";
color: #4a4a4a;
margin: 1.5rem 0;
width: 80%;
font-size: 0.9rem;
line-height: 1.5}

.sidea span {font-family: "Verdana";
color: #4a4a4a;
font-size: 0.8rem;
}

.sideb {
width: 40%;
display: flex;
flex-direction: column;}

.sideb img {width: 35%;
height: auto;
padding: 1rem;}

.box {display: flex;
border-bottom: 1px solid #A2A2A2;}

.container {margin-top: 1rem;}

#last {border-bottom: none;}

.caption {display: flex;
flex-direction: column;
width: 65%;}

.caption h3 {font-family: "Verdana";
color: #4a4a4a;}

.caption p {font-family: "Verdana";
color: #4a4a4a;
padding: 0.5rem 0;
font-size: 0.9rem;
line-height: 1.5;}

a {font-family: "Verdana";
color: lightslategray;
font-size: 0.9rem;
text-decoration: none;}

/*Second section - Courses*/

.learning {background-color: #D2D2D2;}

.gallery {display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
padding: 1rem 3.5rem 1rem 3.5rem;}

.areas {width: 28%;
background-color: white;
margin: 1rem;}

.areas img {height: auto;
width: 100%;}

.areas p {font-family: "Verdana";
color: grey;
line-height: 1.5;
padding: 0.5rem 0 0.5rem 1rem;}

.learning h2 {font-family: "Verdana";
font-size: 2rem;
color: #4a4a4a;
text-align: center;
padding-top: 2rem;}

.areas h3 {font-family: "Verdana";
color: #4a4a4a;
padding: 1rem 0 1rem 1rem;}

.areas span {display: block;font-family: "Verdana";
color: grey;
line-height: 1.5;
padding-left: 1rem;
padding-bottom: 1.5rem;
max-width: 80%;}

/*Last Section - Thesis*/

.thesis {background-color: #F1F1F1;
width: 100%;
display: flex;}

.title h2 {font-family: "Verdana";
font-size: 2rem;
color: #4a4a4a;
text-align: center;
padding-top: 2rem;
background-color: #F1F1F1}

.sidec {width: 60%;
padding: 2rem 1.5rem;}

.sidec h3 {font-family: "Verdana";
color: #4a4a4a;
margin-top: 1.5rem;}

.sidec p {font-family: "Verdana";
color: #4a4a4a;
margin-top: 0.5rem;
width: 80%;
font-size: 0.9rem;
line-height: 1.5}

/*Footer*/

footer {background-color: #F1F1F1;
height: 4rem;
border-top: 1px solid #A2A2A2;
display: flex;
align-items: center;
padding: 0 1.5rem;}

.rights p {font-family: "Verdana";
font-size: 0.8rem;}

.terms span {font-family: "Verdana";
font-size: 0.8rem;
margin-left: 1rem;}

.terms {width: 50%;
display: flex;
justify-content: flex-end;}

.rights {width:50%;}

/*Mobile*/


